<div class="modal fade" id="confirmDialogModal" tabindex="-1" aria-labelledby="confirmDialogModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h5 fw-semibold" id="confirmDialogModalLabel">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="confirmDialogModalBody">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmDialogCancelBtn">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDialogConfirmBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>
